{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.created_date %}
            <div class="list">
                <b>Nome:</b> {{ post.nome }}
            </div>
            <br>
            <div class="list">
                <b>Apelido:</b> {{ post.apelido }}
            </div>
            <br>
            <div class="list">
                <b>RG:</b> {{ post.rg }}
            </div>            
            <br>
            <div class="list">
                <b>CPF:</b> {{ post.cpf }}
            </div>            
            <br>
            <div class="list">
                <b>Cidade:</b> {{ post.cidade }}
            </div>
            <br>
            <div class="list">
                <b>Telefone:</b> {{ post.telefone }}
            </div>
            <br>
            <div class="list">
                <b>Email:</b> {{ post.email }}
            </div>
            <br>
            <div class="list">
                <b>Manequim:</b> {{ post.manequim }}
            </div>
            <br>
            <div class="list">
                <b>Calçado:</b> {{ post.calcado }}
            </div>
            <br>
            <div class="list">
                <b>Calçado:</b> {{ post.ala }}
            </div>
            <br>
            <div class="list">
                <b>Foto:</b> <img src=" {{ post.foto }}" />
            </div>
        {% endif %}
        <br><br>
        <button class="btn btn-default" type="submit"><a href="/"><< Voltar</a></button>
        <br><br>
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">Editar<span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}